/************************************
***********    Brands     ***********
************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.partners {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
  flex-wrap: wrap;
}

.partners img {
  flex-basis: 20%;
  width: 120px;
  filter: grayscale(100%);
}

.partners img:hover {
  filter: grayscale(0);
}