/************************************
***********    Contact    ***********
************************************/

.contact-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.left {
  height: 1400px;
  flex-basis: 40%;
  background-image: url('../Img/girl_phone.jpg');
  background-position: center;
  background-size: cover;
}

.right {
  flex-basis: 50%;
  min-width: 540px;
  margin-left: 10px;
}

.contact .title-section {
  margin-bottom: 32px;
  font-weight: 900;
}

.find-me {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.find p{
  color: #777;
}

.field-name{
  margin-top: 18px;
  margin-bottom: -30px;
}

.contact-form .field {
  background-color: #fff;
  border-bottom: 1px solid #777;
  padding: 0;
  border-radius: 0;
  font-size: 13px;
}

.find-store {
  margin-top: 32px;
}

.interest{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

form #story {
  margin: 32px 0;
  padding: 10px;
}

#submit_contact.pri-btn {
  padding-left: 0;
}

.txt-contact {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .right {
    flex-basis: 90%;
    min-width: 300px;
    margin: 0 auto;
  }
  
  .left {
    height: 180px;
    flex-basis: 90%;
    background-image: url('../Img/girl_phone_sm.jpg');
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .interest{
    flex-direction:column;
  }
  
  .find-me {
    flex-direction: column;
  }
  
  #submit_contact.pri-btn {
    width: 100%;
  }
}
