/************************************
***********    Footer     ***********
************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main-footer {
  width: 100%;
  color: #fff;
  background: #000;
}

.main-footer p, 
.main-footer span {
  font-size: 0.8em;
}

.main-footer a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
}

.main-footer img {
  width: 80px;
}

.main-footer img:hover {
  box-shadow: 0 0 5px #ff523b;
}

.main-footer a:hover {
  color: #ff523b;
}

.reference {
  text-align: center;
  padding: 20px 0;
}

.content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 2px solid rgba(255,255,255,0.5);
}

.download {
  flex-basis: 25%;
}

.download img:hover {
  box-shadow: 0 0 5px #ff523b;
}

.download p {
  margin: 10px 0;
}
.company {
  flex-basis: 40%;
  text-align: center;
}

.util {
  flex-basis: 15%;
  text-align: center;
 
}

.social-media {
  flex-basis: 15%;
  text-align: center;

  text-align: right;
}

@media screen and (max-width: 576px) {
  .content {
    width: 90%;
    flex-wrap: wrap;
  }
  
  .download {
    flex-basis: 45%;
    margin-bottom: 25px;
  }

  .company {
    flex-basis: 45%;
    text-align: right;
    margin-bottom: 25px;
  }

  .util {
    flex-basis: 45%;
    text-align: left;
  }

  .social-media {
    flex-basis: 45%;
  }
}