/************************************
***********    Header     ***********
************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.top-header {
  height: 100vh;
  width: 100%;
  background-image: radial-gradient(#ffffff, #ffd6d6);
}

#menu {
  position: fixed;
  top: 10px;
  right: 10px;
  display: none;
}

.principal-nav {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.brand {
  height: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  padding: 0 10px;
  text-align: center;
}

.nav-item a{
  margin: 0 auto;
  text-decoration: none;  
  color: #000;
  position: relative;
}

.nav-item a::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background: transparent;
  transition: 0.5s;
}

.nav-item a:hover::after {
  width: 100%;
  background: #ff523b;
  transition: 0.5s;
}

.none-effect {
  position: static;
}

.nav-item img {
  height: 30px;
}

.header-description {
  width: 90%;
  margin: 0 auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-description img {
  flex-basis: 40%;
  max-width: 600px;
  min-width: 500px;
}

.header-text {
  flex-basis: 45%;
}

.header-text h1 {
  font-weight: bolder;
  font-size: 3em;
  line-height: 1.2em;
  margin-bottom: 15px;
}

.header-text p {
  font-size: 1em;
  margin: 30px 0;
}

.header-text .fas {
  margin-left: 20px;
}

@media screen and (max-width: 1023px) {
  
  .header-description img {
    display: none;
  }
  
  .header-text {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 768px) {

  #menu {
    display: block;
  }

  .nav-list {
    position: fixed;
    top: 0;
    right: -151px;
    height: 100vh;
    width: 150px;
    flex-direction: column;
    justify-content: space-around;
    background: #ff523b;
    z-index: 5;
  }

  .header-text {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 576px) {

  .header-text h1 {
    font-weight: bolder;
    font-size: 2.5em;
    line-height: 1.2em;
    margin-bottom: 15px;
  }
}

