/************************************
***********   Principal   ***********
************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.category {
  width: 50%;
  margin: 150px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category img {
  width: 150px;
}

.title-section {
  text-align: center;
  position: relative;
}

.title-section::after{
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  width: 150px;
  height: 5px;
  background: #ff523b;
  transform: translateX(-50%);
}

.box-product {
  width: 80%;
  margin: 150px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  transition: 0.5s;
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.product img {
  width: 150px;
  border-radius: 5px;
}

.product .fas {
  color: #ff523b;
}

.product:hover p {
  color: #ff523b;
  transition: 0.5s;
}

.product:hover img {
  box-shadow: 0 0 10px #ff523b;
  transition: 0.5s;
}

.product:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

.exclusive {
  height: 400px;
  width: 100%;
  background-image: radial-gradient(#ffffff, #ffd6d6);
}

.exclusive img {
  height: 300px;
}

.exclusive-description {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exclusive-text {
  width: 400px;
}

.exclusive-text h1{
  font-weight: bolder;
  font-size: 3em;
  line-height: 1.2em;
  margin-bottom: 15px;
}

.exclusive-text .fas {
  margin-left: 20px;
}

.exclusive-text a {
  margin: 30px 0;
}

@media screen and (max-width: 768px) {
  .exclusive img {
    display: none;
  }

  .box-product {
    width: 100%;
  }

  .find p {
    margin-right: 20px;
  }
}

@media screen and (max-width: 576px) {
  .exclusive-text {
    width: 90%;
    margin: 0 auto;
  }

  .exclusive-text h1 {
    font-size: 2.5em;
  }
}